/* This is dll_dtpc.rc */
#include <windows.h>
#include "dll_dlg.h"

#include "speech.dlg"
#include "outdll.dlg"
#include "config.dlg"
#include "settings.dlg"
#include "custom.dlg"
#include "files.dlg"
#include "strings.dlg"
        
