*/build/
autom4te.cache/
build/
config.log
config.status
config.h
dapi/src/api/Makefile
dapi/src/cmd/Makefile
dapi/src/dic/Makefile
dapi/src/hlsyn/Makefile
dapi/src/kernel/Makefile
dapi/src/lts/Makefile
dapi/src/Makefile
dapi/src/Makefile.sub
dapi/src/nt/Makefile
dapi/src/osf/Makefile
dapi/src/ph/Makefile
dapi/src/vtm/Makefile
dtalkml/src/Makefile
licunix/src/Makefile
Makefile
Makefile.sub
samplosf/src/dtsamples/Makefile
samplosf/src/speak/Makefile
samplosf/src/windict/Makefile
udicunix/src/Makefile
