#include <windows.h>
#include "wsr_rc.h"
#include "wsr_dlg.h"

WSR ICON  wsr.ico

WSR MENU
  BEGIN
    POPUP  "File"
      BEGIN
	MENUITEM "Open", IDM_F_READ
	MENUITEM "Exit", IDM_M_EXIT
      END
    POPUP  "Options"
      BEGIN
/*	MENUITEM "Reload", IDM_M_LOAD*/
	MENUITEM "Setup", IDM_M_SETUP
      END
    POPUP  "Help"
      BEGIN
	MENUITEM "Contents" IDM_M_CONTENTS
	MENUITEM "About ..." IDM_M_ABOUT
      END	
  END

#include "output.dlg"
#include "text.dlg"

STRINGTABLE
BEGIN
  IDS_ERR_CREATE_WINDOW,        "Window creation failed!"
  IDS_ERR_REGISTER_CLASS,       "Error registering window class"
  IDS_ERR_DLL_OPEN,             "Can not open DECtalk(TM) PC dll"
END
